# Node modules & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
build/
dist/
coverage/
.expo/
.expo-shared/
web-build/
*.log

# Metro bundler
*.hprof
*.tflite

# Environment
.env
.env.*
.nvmrc
.node-version

# macOS system
.DS_Store

# Python artifacts
services/backend/venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Editor/IDE
.vscode/
.idea/
*.swp

# Misc
*.bak
*.tmp
*.orig
.husky/_/*
.yarn/*
.yarn/cache/*
*.tgz
