# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build
dist/
build/
coverage/
.expo/
.expo-shared/
web-build/

# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
services/backend/venv/

# Env
.env
.env.*

# IDE
.vscode/
.idea/

# Husky
.husky/_/
